.heading
{
    width:100%;
    font-size:22px ;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}
.heading_div
{
    float:none;
    background-color: white;
    padding: 10px;
    border-radius:20px ;
    color :black;
    box-shadow: 5px 5px 5px grey;
}

.heading_div2
{
    font-size: 18px;
}